<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta property="og:image" content="https://casperonlinestore.in/images/casper%20photos/logo/icon.jpeg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
   

    <meta name="keywords" content="casper,casper online store,casperonlinestore" />
    <meta name="description" content="Buy premium shoes  and watches online with free delivery">
    <meta name="author" content="D-THEMES">
    <meta name="theme-color" content="#000000">
    
    
    
  
    
    
      

      <!-- Latest compiled and minified CSS & JS -->
      <!-- CSS only -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
        
        

     
    <link rel="icon" type="image/png" href="/casper photos/logo/CASPER ICON.png">
    

	
    <script>
        WebFontConfig = {
            google: { families: [ 'Poppins:300,400,500,600,700,800' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

	<!-- Plugins CSS File -->
	<link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/photoswipe/photoswipe.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/photoswipe/default-skin/default-skin.min.css">
	


  

	

	<!-- Main CSS File -->
  
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/{{style}}">

	<link rel="stylesheet" type="text/css" href="/stylesheets/{{style2}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

  </head>
  <body>
    
    {{{body}}}

    
  
   
  <script src="/vendor/sticky/sticky.min.js"></script>
   <script src="/vendor/parallax/parallax.min.js"></script>
    <script src="/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
    
	<script src="/vendor/photoswipe/photoswipe.min.js"></script>
	<script src="/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
    <!-- Main JS File -->
    <script src="/javascripts/main.min.js"></script>
    
  </body>
 

</html>
